@model JakeJones.Home.Blog.Implementation.Models.PostListViewModel

@{
	ViewData["BodyClass"] = "blog";

	int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
}

@foreach (var post in Model.Posts)
{
	await Html.RenderPartialAsync("PostListItem", post);
}

<nav class="pagination container" aria-label="Pagination">
	@if (Model.Pagination.ShowPrev)
	{
		<a rel="prev" href="@Model.Pagination.PrevUrl" title="Older posts">&laquo; Older</a>
	}
	@if (Model.Pagination.ShowNext)
	{
		<a rel="next" href="@Model.Pagination.NextUrl" title="Newer posts">Newer &raquo;</a>
	}
</nav>

@*@{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}*@
