@model JakeJones.Home.Blog.Implementation.Models.PostListViewModel

@{
	ViewData["BodyClass"] = "blog";
}

<div class="post-listing">
	@foreach (var post in Model.Posts)
	{
		await Html.RenderPartialAsync("PostListItem", post);
	}

	<nav class="pagination container" aria-label="Pagination">
		@if (Model.Pagination.ShowPrev)
		{
			<a rel="prev" href="@Model.Pagination.PrevUrl" title="Older posts">&laquo; Older</a>
		}
		@if (Model.Pagination.ShowNext)
		{
			<a rel="next" href="@Model.Pagination.NextUrl" title="Newer posts">Newer &raquo;</a>
		}
	</nav>
</div>
