@import "neat";
@import "breakpoints";
@import "global";
@import "font";

.post {
	margin: 0 auto 150px;
	padding: 0 18px;
	max-width: 680px;
}

/* TODO: Got to start getting this CSS into shape! */

.post-listing, .blog--post .post {
	margin-top: calc(2rem + 50px);

	@include breakpoint(mobile) {
		margin-top: calc(4rem + 50px);
	}
}

.post-entry {
	img {
		max-width: 100%;
	}
}

.comments {
	h2 {
		margin-bottom: 30px;
	}

	p {
		margin: 0;
	}

	margin: 0 auto 150px;
	padding: 0 18px;
	max-width: 680px;
}

.blog-comment {
	@include color($primary-color) {
		border-bottom: 1px solid $color;
	}

	margin-bottom: 30px;
	padding-bottom: 5px;

	&__author {
		font-weight: bold;
	}
}

.comment-form {
	margin-top: 50px;
	text-align: justify;
	line-height: 0;

	&__group {
		margin-bottom: 1rem;
		display: inline-block;
		max-width: 100%;

		&--hide {
			margin: 0;
			height: 0;
			overflow: hidden;
			width: 100%;
		}
	}

	&__label {
		margin-bottom: .5rem;
		display: inline-block;
		min-width: 3.5rem;
		line-height: 1rem;
	}

	&__textarea {
		resize: none;
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;

		@include color($primary-color) {
			border: 1px solid $color;
		}
	}

	&__button {
		left: 0;
		width: 150px;
	}
}
