@import "neat";
@import "breakpoints";

/*body {
	height: 100%;
	background-color: #623742;
}

.body-content {
}

.cool {
	@include grid-container;
}

.main-logo {
	width: 100px;
}

.floater {
	@include grid-column(4);
	@include grid-push(4);
	text-align: center;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	color: #f9e49c;

	@include breakpoint(mobile) {
		@include grid-column(12);
	}
}*/