@import "neat";
@import "breakpoints";

.floater {
	text-align: center;
}

.navbar-nav {
	list-style-type: none;
	display: flex;
	justify-content: space-around;

	a {
		text-transform: uppercase;
		text-decoration: none;
		background: none;
		color: white;

		&:hover {
			background: white;
			color: blue;
		}
	}
}

a {
	text-transform: uppercase;
	text-decoration: none;
	background: white;
	color: blue;

	&:hover {
		background: yellow;
	}
}

.current-book {
	width: 180px;
	height: 200px;
	position: absolute;
	top: 250px;
	right: 200px;
	
	> img {
		width: 100%;
	}
}

.current-album {
	width: 220px;
	height: 220px;
	position: absolute;
	top: 490px;
	left: 100px;

	> img {
		width: 100%;
	}
}

.loader {
	height: 100%;
	width: 100%;
	border: 4px white solid;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	white-space: nowrap;

	.loading & {
		display: flex;
	}

	&-bar {
		width: 100px;
		margin-left: -20px;

		&:before {
			content: '[';
			width: 10px;
			display: inline-block;
		}

		&:after {
			content: ']';
			width: 10px;
			display: inline-block;
		}
	}

	.progress {
		display: inline-block;
		background-color: white;
		width: 0;
		margin-right: 100%;
		animation: load 4s steps(8, end) infinite;
	}
}

@keyframes load {
	0% {
		width: 0;
		margin-right: 100%;
	}

	87.5% {
		width: 100%;
		margin-right: 0;
	}

	100% {
		width: 100%;
		margin-right: 0;
	}
}

/*body {
	height: 100%;
	background-color: #623742;
}

.body-content {
}

.cool {
	@include grid-container;
}

.main-logo {
	width: 100px;
}

.floater {
	@include grid-column(4);
	@include grid-push(4);
	text-align: center;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	color: #f9e49c;

	@include breakpoint(mobile) {
		@include grid-column(12);
	}
}*/