// Headings



h1, h2, h3, h4, h5, h6 {
	margin: 0
}

h1 {
	font-family: "brandon-text",sans-serif;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2
}

h2 {
	font-family: "brandon-text",sans-serif;
	font-size: 1.5rem;
	font-weight: bold
}

h3 {
	font-family: "brandon-grotesque",sans-serif;
	font-size: 1.2rem;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1.5rem
}

h4 {
	font-family: "brandon-text",sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: rgba(255,255,255,0.6)
}
