@import "neat";
@import "breakpoints";

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}


body {
	font-size: .9rem;
	color: white;
	background-color: blue;
	font-family: 'Space Mono', monospace;
	font-weight: normal;
	image-rendering: optimizeQuality;
	text-rendering: optimizeLegibility;
}