@import "neat";
@import "breakpoints";

.grabbable {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active, .grabbed {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.floater-outer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 2rem);
	margin-top: 2rem;

	@include breakpoint(mobile) {
		margin-top: 4rem;
		min-height: calc(100vh - 4rem);
	}
}

.floater {
	max-width: 680px;
	max-width: unquote("min(680px, 100%)");
	text-align: center;
	margin: auto;
	margin: 50px 0 50px;

	&--left {
		text-align: left;
	}
}

.current-book {
	width: 180px;
	height: 200px;
	position: absolute;
	top: 250px;
	right: 200px;

	@include breakpoint(mobile) {
		position: relative;
		display: inline-block;
		top: 0;
		right: 0;
		left: 0;
		max-width: 100%;
		margin-top: 60px;
	}

	> img {
		width: 100%;
	}
}

.current-album {
	width: 220px;
	height: 220px;
	position: absolute;
	top: 490px;
	left: 100px;

	@include breakpoint(mobile) {
		position: relative;
		display: inline-block;
		top: 0;
		right: 0;
		left: 0;
		max-width: 100%;
		margin-top: 60px;
	}

	> img {
		width: 100%;
	}
}

.loader {
	height: 100%;
	width: 100%;
	border: 1px solid white;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	white-space: nowrap;

	.loading & {
		display: flex;
	}

	&-bar {
		width: 100px;
		border: 1px solid white;
		margin-top: .5rem;
	}

	.progress {
		display: inline-block;
		background-color: white;
		width: 0;
		margin-right: 100%;
		animation: load 4s steps(8, end) infinite;
	}
}

@keyframes load {
	0% {
		width: 0;
		margin-right: 100%;
	}

	87.5% {
		width: 100%;
		margin-right: 0;
	}

	100% {
		width: 100%;
		margin-right: 0;
	}
}
