@{
	ViewData["Title"] = "About";
	ViewData["BodyClass"] = "about";
}

<div class="floater">
	<br />
	Hi.
	<br />
	My name is Jake Jones.
	<br />
	<br />
	This website is very much a work in progress.
	<br />
	<br />
	If you like, you can email me at: <a href="mailto:jacob.jones@valtech.com">jacob.jones@valtech.com</a>.
</div>