@{
	ViewData["Title"] = "About";
	ViewData["BodyClass"] = "about";
}

<div class="floater-outer" xmlns="http://www.w3.org/1999/html">
	<div class="floater">
		Hi, my name is Jake Jones.
		<br />
		<br />
		I don't do social very much, but you can find me on <a href="https://www.linkedin.com/in/jacob--jones/">LinkedIn</a>.
		<br />
		<br />
		If you like, you can email me at: <a href="mailto:jacob.jones@valtech.com">jacob.jones@valtech.com</a>.
	</div>
</div>