@{
	ViewData["Title"] = "Home";
	ViewData["BodyClass"] = "home";
}

	<div class="floater">
		<br />
		<div class="header" style="position: relative; z-index: 2;">
<pre>
     ██╗ █████╗ ██╗  ██╗███████╗         ██╗ ██████╗ ███╗   ██╗███████╗███████╗
     ██║██╔══██╗██║ ██╔╝██╔════╝         ██║██╔═══██╗████╗  ██║██╔════╝██╔════╝
     ██║███████║█████╔╝ █████╗           ██║██║   ██║██╔██╗ ██║█████╗  ███████╗
██   ██║██╔══██║██╔═██╗ ██╔══╝      ██   ██║██║   ██║██║╚██╗██║██╔══╝  ╚════██║
╚█████╔╝██║  ██║██║  ██╗███████╗    ╚█████╔╝╚██████╔╝██║ ╚████║███████╗███████║
 ╚════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝     ╚════╝  ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚══════╝
</pre>
		</div>
		You've reached the official, candid and 100% AUTHORIZED website of JAKE JONES.
		<br />
		<br />
		<br />
		I'm a Senior Episerver Developer.<br />
		Currently working at <a href="https://www.valtech.com/">Valtech NYC.</a>
		<br />
		<br />
		<p id="book-text" style="display: inline-block;">
			I like reading.<br />
			Currently I'm reading.
		</p>
			<br />
			<br />
		<p id="music-text" style="display: inline-block;">
			I like music.<br />
			Currently I'm listening to.
		</p>
		<br />
		<br />
		<br />
		I like coding.<br />
		This full website was build from scratch.<br />
		Why not checkout the <a href="https://github.com/jacobjones/JakeJones.Home">full code here?</a>
	</div>


<div class="current-book loading " id="current-book-wrapper">
	<img id="current-book" />
	<div class="loader"><span class="loader-text">Loading book</span><div class="loader-bar"><div class="progress">&nbsp;</div></div></div>
</div>

<div class="current-album loading" id="current-album-wrapper">
	<img id="current-album" />
	<div class="loader"><span class="loader-text">Loading track</span><div class="loader-bar"><div class="progress">&nbsp;</div></div></div>
</div>
