@{
	ViewData["Title"] = "jakejon.es";
	ViewData["BodyClass"] = "home";
}

<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

	<div class="floater">
		<br />
		<pre>
     ██╗ █████╗ ██╗  ██╗███████╗         ██╗ ██████╗ ███╗   ██╗███████╗███████╗
     ██║██╔══██╗██║ ██╔╝██╔════╝         ██║██╔═══██╗████╗  ██║██╔════╝██╔════╝
     ██║███████║█████╔╝ █████╗           ██║██║   ██║██╔██╗ ██║█████╗  ███████╗
██   ██║██╔══██║██╔═██╗ ██╔══╝      ██   ██║██║   ██║██║╚██╗██║██╔══╝  ╚════██║
╚█████╔╝██║  ██║██║  ██╗███████╗    ╚█████╔╝╚██████╔╝██║ ╚████║███████╗███████║
 ╚════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝     ╚════╝  ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚══════╝
</pre>
		You've reached the official, candid and 100% AUTHORIZED website of JAKE JONES.
		<br />
		<br />
		<br />
		i'm a Senior Episerver Developer.<br />
		currently working at <a href="#">Valtech NYC.</a>
		<br />
		<br />
		<p id="book-text" style="display: inline-block;">
			i like reading.<br />
			currently I'm reading.
		</p>
			<br />
			<br />
		<p id="music-text" style="display: inline-block;">
			i like music.<br />
			currently I'm listening to.
		</p>
		<br />
		<br />
		<br />
		i like coding.<br />
		this full website was build from scratch.<br />
		why not checkout the <a href="#">full code here?</a>
	</div>


<div class="current-book loading grabbable" id="current-book-wrapper">
	<img id="current-book" />
	<div class="loader"><span class="loader-text">Loading book</span><div class="loader-bar"><div class="progress">&nbsp;</div></div></div>
</div>

<div class="current-album loading" id="current-album-wrapper">
	<img id="current-album" />
	<div class="loader"><span class="loader-text">Loading track</span><div class="loader-bar"><div class="progress">&nbsp;</div></div></div>
</div>
