@{
	ViewData["Title"] = "jakejon.es";
}

<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

<div class="cool">
	<div class="floater">

		<img class="main-logo" src="images/logo.png" />
		<br />
		<br />
		Welcome to <u>jakejones.es</u>
		<br />
		<br />
		It's the official, candid and 100% authorized website of Jake Jones.

	</div>
</div>