/*********************
BREAKPOINTS
*********************/
.post {
  margin: 0 auto 150px;
  padding: 0 18px;
  max-width: 680px; }

/*********************
BREAKPOINTS
*********************/

/*********************
BREAKPOINTS
*********************/
.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active, .grabbed {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.floater {
  margin: 0 auto 150px;
  padding: 0 18px;
  min-height: 550px;
  max-width: 680px;
  text-align: center; }

.current-book {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 250px;
  right: 200px; }
  .current-book > img {
    width: 100%; }

.current-album {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 490px;
  left: 100px; }
  .current-album > img {
    width: 100%; }

.loader {
  height: 100%;
  width: 100%;
  border: 4px white solid;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap; }
  .loading .loader {
    display: flex; }
  .loader-bar {
    width: 100px;
    margin-left: -20px; }
    .loader-bar:before {
      content: '[';
      width: 10px;
      display: inline-block; }
    .loader-bar:after {
      content: ']';
      width: 10px;
      display: inline-block; }
  .loader .progress {
    display: inline-block;
    background-color: white;
    width: 0;
    margin-right: 100%;
    animation: load 4s steps(8, end) infinite; }

@keyframes load {
  0% {
    width: 0;
    margin-right: 100%; }
  87.5% {
    width: 100%;
    margin-right: 0; }
  100% {
    width: 100%;
    margin-right: 0; } }

/*body {
	height: 100%;
	background-color: #623742;
}

.body-content {
}

.cool {
	@include grid-container;
}

.main-logo {
	width: 100px;
}

.floater {
	@include grid-column(4);
	@include grid-push(4);
	text-align: center;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	color: #f9e49c;

	@include breakpoint(mobile) {
		@include grid-column(12);
	}
}*/

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "brandon-text",sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2; }

h2 {
  font-family: "brandon-text",sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

h4 {
  font-family: "brandon-text",sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6); }

/*********************
BREAKPOINTS
*********************/
/* Global Scheme */
body.home ::selection {
  background: white; }

body.blog ::selection {
  background: blue; }

body.about ::selection {
  background: blue; }

body.home ::selection {
  color: blue; }

body.blog ::selection {
  color: white; }

body.about ::selection {
  color: yellow; }

body.home ::-moz-selection {
  background: white; }

body.blog ::-moz-selection {
  background: blue; }

body.about ::-moz-selection {
  background: blue; }

body.home ::-moz-selection {
  color: blue; }

body.blog ::-moz-selection {
  color: white; }

body.about ::-moz-selection {
  color: yellow; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-size: .9rem;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  image-rendering: optimizeQuality;
  text-rendering: optimizeLegibility; }
  body.home {
    background: blue; }
  body.blog {
    background: white; }
  body.about {
    background: yellow; }
  body.home {
    color: white; }
  body.blog {
    color: blue; }
  body.about {
    color: blue; }

a {
  text-transform: uppercase;
  text-decoration: none; }
  body.home a {
    background: white; }
  body.blog a {
    background: blue; }
  body.about a {
    background: blue; }
  body.home a {
    color: blue; }
  body.blog a {
    color: white; }
  body.about a {
    color: yellow; }
  body.home a:hover {
    background: yellow; }
  body.blog a:hover {
    background: red; }
  body.about a:hover {
    background: white; }

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px; }
  .navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
    background: none !important; }
    body.home .navbar-nav a {
      color: white; }
    body.blog .navbar-nav a {
      color: blue; }
    body.about .navbar-nav a {
      color: blue; }
    body.home .navbar-nav a:hover {
      background: white !important; }
    body.blog .navbar-nav a:hover {
      background: blue !important; }
    body.about .navbar-nav a:hover {
      background: blue !important; }
    body.home .navbar-nav a:hover {
      color: blue !important; }
    body.blog .navbar-nav a:hover {
      color: white !important; }
    body.about .navbar-nav a:hover {
      color: yellow !important; }
