/*********************
BREAKPOINTS
*********************/
.post {
  margin: 0 auto 150px;
  padding: 0 18px;
  min-height: 550px;
  max-width: 680px; }

/*********************
BREAKPOINTS
*********************/

/*********************
BREAKPOINTS
*********************/
.floater {
  text-align: center; }

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around; }
  .navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    color: white; }
    .navbar-nav a:hover {
      background: white;
      color: blue; }

a {
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: blue; }
  a:hover {
    background: yellow; }

/*body {
	height: 100%;
	background-color: #623742;
}

.body-content {
}

.cool {
	@include grid-container;
}

.main-logo {
	width: 100px;
}

.floater {
	@include grid-column(4);
	@include grid-push(4);
	text-align: center;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	color: #f9e49c;

	@include breakpoint(mobile) {
		@include grid-column(12);
	}
}*/

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "brandon-text",sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #2b3e50;
  line-height: 1.2; }

h2 {
  font-family: "brandon-text",sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #e74c3c;
  margin-bottom: 1.5rem; }

h4 {
  font-family: "brandon-text",sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6); }

/*********************
BREAKPOINTS
*********************/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white; }

body {
  font-size: .9rem;
  color: #222;
  color: white;
  background-color: white;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  image-rendering: optimizeQuality;
  text-rendering: optimizeLegibility; }
